<html>
  <head>
    {% block head %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{jinja['title'] | default ('pygraph')}}</title>
      {% block head_scripts -%}
      {% include "html/imports.html" %}
      {% endblock head_scripts %}
    <style type="text/css">
      {% block head_style -%}
      {% include "html/styles.css" %}
      {% endblock head_style %}
    </style>      
    {% endblock head %}
  </head>
  <body>
    <script type="text/javascript">
      {% block javascript %}
      {% include "js/tom_select.js" %}
      {% include "js/create_network.js" %}
      {% endblock %}
    </script>
  </body>
</html>
