{% for font in network.google_fonts|default(['JetBrains Mono']) %}
<!-- {{ font }} -->
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family={{ font }}"
/>
{% endfor %}

{% if network.use_font_awesome|default(True) %}
<!-- FontAwesome -->
<link rel="stylesheet" crossorigin="anonymous" referrerpolicy="no-referrer"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
/>
{% endif %}

<!-- Visjs-min -->
<script type="text/javascript"
    src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
></script>

{% if selectors %}
<!-- Tom Select -->
<link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" 
/>
<script 
    src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js">
</script>
{% endif %}